@charset "UTF-8";

/* estilo para demais midias */

/* Typical Device Breakpoint - tamanho de telas reponsivas

- dispositicos pequenos - de  320px até 600px (configurado no mobile first);
- telefone/celulares - de 600px até 768px. (configurado no mobile first);
- tablet - de 768px até 1024px;
- desktops - de 1024px até 1200px;
- telas grandes - acima de 1200px.

*/


@media screen and (min-width: 768px) {

    span.material-symbols-outlined {
        display: none;
    } /*vai esconder o menu hamburguer*/

    menu {
        display: block;
    } /*vai mostrar o menu direto com as opções*/

    menu li { 
        display: inline-block;    
    } /*vai deixar os itens lado a lado*/

  
}