@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid; /*habilita o grid layout*/
    /*grid-template: repeat(4) / repeat(2, 1fr); /*define a quantidade de linhas e colunas*/
    grid-template-rows: 80px 40px 1fr 40px;
    grid-template-columns: 1fr 150px;
    border: 2px solid black;   
    gap: 5px;
}

.topo {
    background-color: rgb(114, 0, 0);
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1; /*última coluna*/  
    
    
}

.menu {
    background-color: aqua;
    grid-row: 2 / 3; /*forma de abreviar o inicio e o final da linha*/
    grid-column: 1 / -1; /*forma de abreviar o inicio e o fim da coluna*/
    
}

.principal {
    background-color: rgb(0, 0, 0);
    color: white;
    grid-area: 3 / 1 / -2 / 2; /*forma de abreviar o inicio e o fim da linha e da coluna = linha / coluna (começo) / linha / coluna (final)*/
}   

.secundario {
    background-color: darkorange;
    grid-area: 3 / -2 / -2 / -1;
}

.rodape {
    background-color: blueviolet;
    grid-area: -2 / 1 / -2 / -1; /*forma de abreviar o inicio e o fim da linha e da coluna = linha / coluna (começo) / linha / coluna (final)*/
    
}